body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #34b4e4;
}

.navbar {
    position: fixed;
    top: 0; 
    background-color: #34b4e4; 
    height: 80px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    padding-left: 20px;
    box-shadow: 13px 13px 20px rgba(0, 0, 0, 0.1); 
}



.logo {
    height: 60px; 
    padding: 20px;


}

.title { 
 color: white;

}


.container {
    margin-left: 1.8em;
    padding: 90px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #34b4e4, -13px -13px 20px #34b4e4;
    background: #f2f4f5;

}




.content {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1), inset -5px -5px 8px #fff;
    background: #fff;
}

.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

#eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #00ace6, inset -5px -5px 8px #00ace6;
}

#ac {
    background: #890e22;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #bc1515, inset -5px -5px 8px #8d142e;
}

#ce {
    background: #6c4906;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #4f3104, inset -5px -5px 8px #683b09;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0px;
    text-align: center;
    height: 90px;
}


 .center-static{
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}




.button-container {
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 10px; 
    display: inline-block; 
}

.item {
    margin: 0 10px; 
    width: 160px; 
    height: 60px; 
    display: inline-block;
    background-size: cover;
}

.google-play {
    background-image: url('images/google-play-badge.png'); 
  

}

.apple-store {
    background-image: url('images/app-store-png-logo-33116.png'); 
  

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
